= render "shared/top_header"
#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %br/
      .container.col.s6.m6
        .row.outer
          = image_tag "logo-top.png", size: "500x137", class: "hide-on-med-and-down image_center"
          = image_tag "logo-top.png", size: "300x82", class: "hide-on-large-only image_center"
        .row.center
          %h5.header.col.s12.offset-m3.m6.light.black-text.shadow-text
            チェックシートを作って
            %br/
            共有しよう
        .row.center
          - if user_signed_in?
            = link_to "さぁ、始めよう", user_path(current_user.id), class: "btn-large waves-effect waves-light teal lighten-1", id: "download-botton"
          - else
            = link_to "さぁ、始めよう", new_user_registration_path, class: "btn-large waves-effect waves-light teal lighten-1", id: "download-botton"
      %br/
      %br/
  .parallax
    = image_tag "checksheet.jpg", class: "blur"
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons.medium check_circle_outline
          %h6.center
            シンプルなチェックシート
          %p.light 作るのにも、チェックを入れるのにも便利なシンプルなチェックシート。シートを作るのがメンドくさい？そんな時は公開されているシートを「プル」しちゃおう！
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons.medium group
          %h6.center チェックシートをシェア
          %p.light 作ったチェックシートを仲間と共有してみよう。同じ目標に向かって、どれだけ進んでいるかも目視できて便利だね。
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons.medium devices
          %h6.center PCでも、スマホでも
          %p.light お手持ちのPCでもスマホでも、チェックシートを作ったり、チェックしたり、共有したり、プルしたり。いつでもどこでも、忘れないように。
%footer.page-footer.teal
  .container
    .row
      .col.l6.s12
        %h5.white-text 更新履歴
        %p.grey-text.text-lighten-4 公開しました(2019年11月18日)
      .col.l6.s12
        %h5.white-text CONTACT
        .col.l6.s12
          = link_to "https://twitter.com/krile136",target: :_blank, class: "sns_link" do
            %i.fa.fa-twitter.fa-2x
            Twitter
          %br/
        .col.l6.s12
          = link_to "https://www.facebook.com/profile.php?id=100042286305127",target: :_blank, class: "sns_link" do
            %i.fa.fa-facebook.fa-2x
            Facebook
  .footer-copyright
    .container
      Made by
      = link_to "Ruby on Rails", "https://rubyonrails.org/", target: :_blank, class: "lime-text text-lighten-2 "
      ,
      = link_to "Materialize", "http://materializecss.com", target: :_blank, class: "lime-text text-lighten-2 "
    