= form_with model: @sheet, url: sheets_path, method: :post, local: true do |f|
  = render "shared/new-sheet-header"
  .container#sheet-new
    %br/
    %br/
    .row_container
      .row
        .col.s12.m10.offset-m1.drag-and-drop.top-1.drag-off
          %a.show_circle_btn.btn.back-btn.back-btn--right.red.modal-trigger{:href => "#modal4"}
            %i.material-icons.small.card-icon-vert delete
          #modal4.modal
            .modal-content
              %h6 このカードを削除しますか？
            .modal-footer
              %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} キャンセル
              %a.modal-delete.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} 削除する
          %a.show_circle_btn.btn.back-btn.back-btn--left.blue.darken-1.modal-trigger{:href => "#modal5"}
            %i.material-icons.small.card-icon-vert edit
          #modal5.modal
            .modal-content
              .row
                .input-field.col.s12
                  %i.material-icons.prefix edit
                  %input#autocomplete-input.autocomplete{:type => "text"}/
                  %label{:for => "autocomplete-input"}
            .modal-footer
              %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} キャンセル
              %a.modal-change.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} 変更する
          .card.green.lighten-5
            .card-content.black-text
              .card-text
                #text-content
                  見出し
                %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                  %i.material-icons.small.card-icon-vert sort
      .row
        .col.s11.offset-s1.m9.offset-m2.drag-and-drop.top-2.drag-off
          .show_circle_btn.btn.back-btn.back-btn--right.red.modal-trigger{:href => "#modal6"}
            %i.material-icons.small.card-icon-vert delete
          #modal6.modal
            .modal-content
              %h6 このカードを削除しますか？
            .modal-footer
              %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} キャンセル
              %a.modal-delete.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} 削除する
          .show_circle_btn.btn.back-btn.back-btn--left.blue.darken-1.modal-trigger{:href => "#modal7"}
            %i.material-icons.small.card-icon-vert edit
          #modal7.modal
            .modal-content
              .row
                .input-field.col.s12
                  %i.material-icons.prefix edit
                  %input#autocomplete-input.autocomplete{:type => "text"}/
                  %label{:for => "autocomplete-input"}
            .modal-footer
              %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} キャンセル
              %a.modal-change.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} 変更する
          .card.lime.lighten-5
            .card-content.black-text
              .card-text
                #text-content
                  チェック項目
                %a.card-button.btn-flat.show_circle_btn.mouse_on_cursor_move
                  %i.material-icons.small.card-icon-vert sort
    .row.button_field
      = link_to "#", class: "dropdown-trigger btn-floating row_add_button red","data-target": "dropdown1" do
        %i.material-icons.small.icon-vert-center.center add
      %ul#dropdown1.dropdown-content
        %li
          = link_to "",id: "make_head" do
            %i.material-icons ballot
            見出しを追加
        %li
          = link_to "", id: "make_check" do
            %i.material-icons check_box
            チェック項目を追加
    %br/
    %br/
  .click_for_dropdown

  -# 保存をクリックした時のモーダル(#modal1)
  %a.modal-trigger{:href => "#modal1"}
  #modal1.modal
    .modal-content
      %h6 チェックシートを保存します。よろしいですか？
    .modal-footer
      %a.modal-save.modal-close.waves-effect.waves-green.btn-flat{:href => root_path} 保存する
      %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat.red-text{:href => "#!"} キャンセル

  -# 新しいシートをクリックした時のモーダル(#moddal2)
  %a.modal-trigger{:href => "#modal2"}
  #modal2.modal
    .modal-content
      %h6 今のシートを破棄して新しいシートを作ります。よろしいですか？
    .modal-footer
      %a.modal-close.waves-effect.waves-green.btn-flat{:href => new_sheet_path} シートを新しく作る
      %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat.red-text{:href => "#!"} キャンセル

  -# タイトル編集をクリックした時のモーダル(#modal3)
  %a.modal-trigger{:href => "#modal3"}
  #modal3.modal
    .modal-content
      .row
        .input-field.col.s12
          %i.material-icons.prefix edit
          %input#autocomplete-input.autocomplete{:type => "text"}/
          %label{:for => "autocomplete-input"}
    .modal-footer
      %a.modal-cancel.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} キャンセル
      %a.modal-title-update.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} 変更する
  = f.hidden_field :title, value: "シートタイトル",id:"input_sheet_title"





