.wrapper
  = form_with model: @cooperate_request, url:cooperate_requests_path, method: :POST,id: "cooperate_form", local: true do |f|
    = render "shared/header"
    .current_user{id: "#{current_user.id}","data-name": "#{current_user.name}"}
    .container
      .row
        .col.s12.m6.offset-m3
          .row
            .input-field.col.s10
              %i#search_icon.material-icons.prefix find_in_page
              %input#autocomplete-input.autocomplete.sheet_search_form{:type => "text","data-url": "/api/sheets/mypage"}
              %label{:for => "autocomplete-input"} Search
            .col.s2.center.search_field_height
              = link_to "#", class: "dropdown-trigger btn-flat show_circle_btn user_show_hover","data-target": "dropdown#0" do
                %i.material-icons.icon-vert-center.middle find_replace
              %ul.dropdown-content{id: "dropdown#0"}
                %li 
                  = link_to "", id: "find_in_mypage" do
                    %i.material-icons find_in_page
                    マイシートを検索
                %li
                  = link_to "", id: "find_in_public" do
                    %i.material-icons language
                    公開シートを検索
      #display_searched_sheets{'hidden': 'true'}
        .row
          .col.s6
            %h7 シート名
          .col.s3.hide-on-small-only
            %h7 作成者
          .col.s2.hide-on-small-only
            %h7 最終閲覧
        #searched_sheets_branch
      #display_sheets
        - if @requests.length > 0
          .row
            .col.s6
              %h7 共有リクエスト
            .col.s3.hide-on-small-only
              %h7 作成者
            .col.s2.hide-on-small-only
              %h7 最終閲覧
          - @requests.each_with_index do |request, i|
            = render partial: 'shared/request_lists', locals: { request: request, time: @requests_time, i:i ,id_offset: 1}
        - if @today_number > 0 
          .row
            .col.s6
              %h7 24時間以内
            .col.s3.hide-on-small-only
              %h7 作成者
            .col.s2.hide-on-small-only
              %h7 最終閲覧
          - @today_sheets.each_with_index do |sheet, i|
            = render partial: 'shared/lists', locals: { sheet: sheet, time: @today_time, i: i, id_offset: 1 + @requests_number}
          %br/
        - if @week_number > 0
          .row
            .col.s6
              %h7 過去１週間
            .col.s3.hide-on-small-only
              %h7 作成者
            .col.s2.hide-on-small-only
              %h7 最終閲覧
          - @week_sheets.each_with_index do |sheet, i|
            = render partial: 'shared/lists', locals: { sheet: sheet, time: @week_days, i: i , id_offset: 1 + @requests_number + @today_number}
          %br/
        - if @month_number > 0
          .row
            .col.s6
              %h7 １週間以上前
            .col.s3.hide-on-small-only
              %h7 作成者
            .col.s2.hide-on-small-only
              %h7 最終閲覧
          - @month_sheets.each_with_index do |sheet, i|
            = render partial: 'shared/lists', locals: { sheet: sheet, time: @month_days, i: i , id_offset: 1 + @requests_number + @today_number + @week_number}
          %br/

    -# 削除用モーダル
    = link_to "", "#delete_modal", class: "modal_trigger"
    #delete_modal.modal
      .modal-content
        %h6 チェックシートを削除します。よろしいですか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "削除する", "#", method: :DELETE, class:"modal-close waves-effect waves-green btn-flat sheet_delete_link"

    -# 共有用モーダル
    = link_to "", "#cooperate_modal", class: "modal_trigger"
    #cooperate_modal.modal
      .modal-content
        %h6 共有するユーザー名を検索
        .row
          .input-field.col.s11
            %i.material-icons.prefix person
            %input#autocomplete-input.autocomplete.input_user_name{:type => "text"}/
            %label{:for => "autocomplete-input"}
          .input-field.col.s1
            .spinner-hidden{hidden: true}
              .preloader-wrapper.small.active
                .spinner-layer.spinner-green-only
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
        #added_user_branch
        #user_name_branch
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = f.submit "共有する", class:"modal-close waves-effect waves-green btn-flat sheet_cooperate_btn"

    -# cooperate_request用のhidden_field
    = f.hidden_field :sheet_id, value: "", class:"sheet_cooperate_link"
    #cooperate_branch

    -# 共有リクエストキャンセル用モーダル
    = link_to "", "#cancel_modal", class: "modal_trigger"
    #cancel_modal.modal
      .modal-content
        %h6 共有リクエストを取り下げます。よろしいですか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "取り下げる", "#", method: :DELETE, class:"modal-close waves-effect waves-green btn-flat request_cancel_link"

    -# 共有リクエスト拒否用モーダル
    = link_to "", "#reject_modal", class: "modal_trigger"
    #reject_modal.modal
      .modal-content
        %h6 共有リクエストを拒否します。よろしいですか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "拒否する", "#", method: :DELETE, class:"modal-close waves-effect waves-green btn-flat request_reject_link"

    -# 共有リクエスト承認用モーダル
    = link_to "", "#accept_modal", class: "modal_trigger"
    #accept_modal.modal
      .modal-content
        %h6 共有リクエストを承認します。よろしいですか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "承認する", "#", method: :PATCH, class:"modal-close waves-effect waves-green btn-flat request_accept_link"

    -# 公開用モーダル
    = link_to "", "#public_modal", class: "modal_trigger"
    #public_modal.modal
      .modal-content
        %h6 シートを公開しますか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "公開する", "#", method: :PATCH, class:"modal-close waves-effect waves-green btn-flat sheet_public_link"

    -# 公開キャンセル用モーダル
    = link_to "", "#public_cancel_modal", class: "modal_trigger"
    #public_cancel_modal.modal
      .modal-content
        %h6 シートの公開をやめますか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "公開をやめる", "#", method: :PATCH, class:"modal-close waves-effect waves-green btn-flat sheet_public_cancel_link"

    -# プル用モーダル
    = link_to "", "#pull_modal", class: "modal_trigger"
    #pull_modal.modal
      .modal-content
        %h6 このシートをプルしますか？
      .modal-footer
        = link_to "キャンセル", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"
        = link_to "プルする", "#" , method: :POST, class:"modal-close waves-effect waves-green btn-flat sheet_pull_link"


    -# プレビュー用モーダル
    = link_to "", "#preview_modal", class: "modal_trigger"
    #preview_modal.modal
      .input-field.col.s12.spinner-hidden.center
        .preloader-wrapper.active
          .spinner-layer.spinner-green-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
      #sheet-new.modal-content
        .row
          .col.s12{:style => "top:30px"}
            .card.green.lighten-5
              .card-content.black-text
                .card-text
                  #text-content
                    見出し
        .row
          .col.s11.offset-s1{:style => "top:90px"}
            .card.lime.lighten-5
              .card-content.black-text
                .card-text
                  #text-content
                    項目
      .modal-footer.preview_footer
        = link_to "閉じる", "#", class:"modal-cancel modal-close waves-effect waves-green btn-flat red-text"

    -# プロフィール表示用モーダル
    = link_to "", "#profile_modal", class: "modal_trigger"
    #profile_modal.modal
      .modal-content
        .row
          .col.s12.m8.offset-m2
            .profile-head
              %i.material-icons.prefix.icon-vert-center person
              ユーザー名
            .input-field.col.s12#edit_username_form{"data-name": "#{current_user.name}"}
              %input#autocomplete-input.autocomplete.edit_user_name{type: "text", value: "#{current_user.name}"}/
              %label{:for => "autocomplete-input"}
            .profile-head
              %i.material-icons.prefix.icon-vert-center email
              メールアドレス
            .input-field.col.s12#edit_email_form{"data-email": "#{current_user.email}"}
              %input#autocomplete-input.autocomplete.edit_email{type: "text", value: "#{current_user.email}"}/
              %label{:for => "autocomplete-input"}
            .error_msg.center
      .modal-footer
        = link_to "閉じる", "#", class: "modal-cancel modal-close waves-effect btn-flat red-text"
        = link_to "更新する", "#", class: "modal-cancel modal-close waves-effect btn-flat user_edit_link",style: "pointer-events: none; color: rgb(189,189,189);"

    -# cooperate_request用のhidden_field
    = f.hidden_field :sheet_id, value: "", class:"sheet_cooperate_link"
    #cooperate_branch