= link_to "", "#help_modal", class: "modal_trigger"
#help_modal.modal.modal-fixed-footer
  .modal-content
    #help_list
      %h5 ヘルプ一覧
      .divider
      %br/
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-make" do
            %h6 シートの作り方
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-use" do
            %h6 シートの使い方
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-share" do
            %h6 シートの共有
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-public" do
            %h6 シートの公開
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-search-mypage" do
            %h6 マイページ検索
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-search-public" do
            %h6 公開シート検索
      .row
        .col.s12
          = link_to "#",class: "btn-flat help-pull" do
            %h6 プルの方法
    #help_make_content.help_back_content{"hidden": "hidden"}
      %h5 シートの作り方
      .divider
      %br/
      .row
        .col.s12
          %p
            = image_tag 'make_1.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'make_2.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'make_3.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'make_4.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'make_5.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'make_6.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'make_7.png', class:'image_class'
    #help_use_content.help_back_content{"hidden": "hidden"}
      %h5 シートの使い方
      .divider
      %br/
      .row
        .col.s12
          %p
            = image_tag 'use_1.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'use_2.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'use_3.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'use_4.png', class:'image_class'
    #help_share_content.help_back_content{"hidden": "hidden"}
      %h5 共有の仕方
      .divider
      %br/
      .row
        .col.s12
          %p
            = image_tag 'use_1.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_1.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_2.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_3.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_4.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_5.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_6.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_7.png', class:'image_class'
            %br/
            .divider
            %br/
            = image_tag 'share_8.png', class:'image_class'
    #help_public_content.help_back_content{"hidden": "hidden"}
      %h5 共有の仕方
      .divider
      %br/
      .row
        .col.s12
          %p
            = image_tag 'use_1.png', class:'image_class'
            %br/
            .divider
            %br/
            
  .modal-footer
    = link_to "戻る", "#", class: "modal-back black-text btn-flat"
    = link_to "閉じる", "#", class: "modal-cancel modal-close waves-effect btn-flat red-text"
