.row.text-vert-center.sheet-index
  .col.s1.m1
    %i.material-icons.small.icon-vert-center description
  .col.s9.m5
    = title
  .col.m3.hide-on-small-only.grey-text.darken-3
    自分
  .col.m2.hide-on-small-only.grey-text.darken-3
    = time[i]
  .col.s1.m1.center
    = link_to "#", class: "dropdown-trigger btn-flat show_circle_btn user_show_hover","data-target": "dropdown#{i + id_offset}" do
      %i.material-icons.small.icon-vert-center.center more_vert
    %ul.dropdown-content{id: "dropdown#{i + id_offset}"}
      %li
        = link_to "" do
          %i.material-icons text_fields
          名前を変更
      %li 
        = link_to "" do
          %i.material-icons edit
          編集
      %li
        = link_to "" do
          %i.material-icons delete
          削除
      %li
        = link_to "" do
          %i.material-icons launch
          新しいタブで開く
      %li
        = link_to "" do
          %i.material-icons language
          公開する
      %li
        = link_to "" do
          %i.material-icons supervisor_account
          共有する