.row.text-vert-center.sheet-index
  = link_to sheet_path(sheet.id) do
    .col.s1.m1
      %i.material-icons.small.icon-vert-center description
    .col.s9.m5
      = sheet.title
      - if sheet.cooperate_requests.length > 0
        (承認待ち)
    .col.m3.hide-on-small-only.grey-text.darken-3
      自分
    .col.m2.hide-on-small-only.grey-text.darken-3
      = time[i]
    .col.s1.m1.center
      = link_to "#", class: "dropdown-trigger btn-flat show_circle_btn user_show_hover","data-target": "dropdown#{i + id_offset}" do
        %i.material-icons.small.icon-vert-center.center more_vert
      %ul.dropdown-content{id: "dropdown#{i + id_offset}"}
        %li 
          = link_to edit_sheet_path(sheet.id) do
            %i.material-icons edit
            編集
        %li
          = link_to "", class: "sheet_delete_button",id: "#{sheet.id}" do
            %i.material-icons delete
            削除
        %li
          = link_to "" do
            %i.material-icons launch
            新しいタブで開く
        %li
          = link_to "" do
            %i.material-icons language
            公開する
        %li
          - if sheet.cooperate_requests.length > 0
            = link_to "" do
              %i.material-icons supervisor_account
              共有のキャンセル
          - else
            = link_to "" ,class: "sheet_share_button",id: "#{sheet.id}" do
              %i.material-icons supervisor_account
              共有する