.row.text-vert-center.sheet-index
  = link_to sheet_path(sheet.id) do
    .col.s1.m1
      %i.material-icons.small.icon-vert-center description
    .col.s9.m5.f-container
      - if sheet.is_cooperate
        %i.material-icons.small.icon-vert-center supervisor_account
      .title
        = sheet.title
      .has_request{class: "request_sheet_#{sheet.id}"}
        - if sheet.cooperate_requests.length > 0
          (承認待ち)
    .col.m3.hide-on-small-only.grey-text.darken-3
      - if sheet.author == current_user.name
        自分
      - else
        =sheet.author
    .col.m2.hide-on-small-only.grey-text.darken-3
      = time[i]
    .col.s1.m1.center
      = link_to "#", class: "dropdown-trigger btn-flat show_circle_btn user_show_hover","data-target": "dropdown#{i + id_offset}" do
        %i.material-icons.small.icon-vert-center.center more_vert
      %ul.dropdown-content{id: "dropdown#{i + id_offset}"}
        %li 
          = link_to edit_sheet_path(sheet.id) do
            %i.material-icons edit
            編集
        %li
          = link_to "", class: "sheet_delete_button",id: "#{sheet.id}" do
            %i.material-icons delete
            削除
        %li
          = link_to sheet_path(sheet.id) ,target: :_blank do
            %i.material-icons launch
            新しいタブで開く
        %li
          = link_to "" do
            %i.material-icons language
            公開する
        %li{class: "cooperate_select_branch_#{sheet.id}"}
          - if sheet.cooperate_requests.length > 0
            = link_to "", class: "request_cancel_btn",id: "#{sheet.cooperate_requests[0].id}"do
              %i.material-icons supervisor_account
              共有の取り下げ
          - else
            = link_to "", class: "sheet_share_btn",id: "#{sheet.id}" do
              %i.material-icons supervisor_account
              共有する
        #user_list_branch{hidden: true}
          - sheet.user_sheets.each do |middle|
            .name_list{"data-name": "#{middle.user.name}"}