= render "shared/header"
#new-user-parallax.parallax-container
  .container
    .row.login-form
      %br/
      %br/
      %br/
      .col.s12.m6.offset-m3
        .card.hoverable
          .card-content
            %span.card-title.center ログイン
            .divider
            .spacer_half
            = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
              .form-inputs.row
                .input-field.col.s12
                  %i.material-icons.prefix email
                  = f.email_field :email, required: true, autofocus: true
                  = f.label :email
                .input-field.col.s12
                  %i.material-icons.prefix lock
                  = f.password_field :password, required: true, autocomplete: "off"
                  = f.label :password
                -# - if devise_mapping.rememberable?
                -#   %p
                -#     = f.check_box :remember_me
                -#     = f.label :remember_me
              .form-actions.center
                = f.submit "ログイン", class: "btn waves-effect teal lighten-1 white-text"
          .card-action
            .devise-links
              = render "devise/shared/links"
  .parallax
    = image_tag "background1.jpg"